* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    h1 {
        color:red;
    }
    .intro {
    
    }
    
    .box-0 {
            width: 400px;
            height: 4000px;
            margin:20px auto;
    background: blue;
    }
    
    .box-1 {
    
    }
    .box-2 {
    
    }
    .box-3 {
    
    }
    .box-4 {
    
    }
    